# Virtual environment
.venv/
venv/
ENV/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Packaging / Distribution
build/
dist/
*.egg-info/

# Pytest / Testing
.pytest_cache/
.coverage
htmlcov/